# Dependencies
node_modules

# Build
dist
dev-dist

# Env — ne jamais committer
.env
.env.*
!.env.example

# Vite
*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

.cert

package-lock.json
settings.local.json
